<div class="panel-group" id="accordion">

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
      How to Play</a>
    </h2>
  </div>
  <div class="collapse1" class="panel-collapse collapse in">
    <div class="panel-body">
      <p>INTELL operates on a turn-based system, meaning that players have a full
      turn to determine their agents' actions for the current turn. Turn lengths
      are determined by the game owner during game setup, so each instance will
      have a set turn length that will be static for the duration of the instance.</p>
      <p>At the beginning of a turn, players will be presented with a number of
      snippets of information that will provide clues to the threat of the scenario.
      Snippets may be randomly generated, created by other players, or key to the
      scenario. Players must use their intuition, accompanied by available actions,
      to determine which snippets are key to the scenario.</p>
      <p>Agent actions are selected by clicking on the available actions in the
      bottom right-hand corner of the screen. One action may be selected for
      each agent per turn. Agents may be selected from the "Agents" dropdown. If a
      player does not select an action for an agent, the "Research" action will
      be selected by default, which will result in a set number of INTELL points
      being added to the player's point balance at the beginning of the next turn.
      All actions are implemented at the end of a turn, so players may re-select
      actions for each agent until the turn timer expires.</p>
      <p>The goal of the game is to sort through the snippets and determine
      which snippets hold information that is key to the threat of the scenario.
      By doing this, players should be able to determine which characters are
      a threat and should move to "Apprehend" a guilty character. A player
      wins the game by apprehending a key character before the main threat of
      the scenario has happened. It is possible for multiple players to win if
      they select to apprehend the same character on the same turn, and their selection
      fulfills the requirements previously described.</p>
      <p>Each section of the game screen is explained below in further detail. Click
      on the headers to expand/collapse the associated section's description.</p>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
      INTELL Button</a>
    </h2>
  </div>
  <div class="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
      <p>Clicking this button will return the player to the "Game Select" screen.
      This will not affect progress or participation in the current instance. It is
      simply a button to add navigation functionality to the instance screen.</p>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      Turn Identifier</a>
    </h2>
  </div>
  <div class="collapse3" class="panel-collapse collapse">
    <div class="panel-body">
      <p>The turn number is displayed in the upper right-hand corner of the
      screen as a fraction. The numerator of the fraction displays the current
      turn number, while the denominator of the fraction displays the total
      number of turns for the game instance. The current turn number will increment
      by one each time the turn timer reaches 00:00:00, until the current turn
      number equals the total number of turns. At this point, the game will be
      over and a closing message will be displayed.</p>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
      Turn Timer</a>
    </h2>
  </div>
  <div class="collapse4" class="panel-collapse collapse">
    <div class="panel-body">
      <p>The turn timer is displayed in the upper right-hand corner of the
      screen as a clock that is counting down. This timer starts at a number
      specified by the individual game instance, and counts down until it
      reaches 00:00:00. Once the timer reaches 00:00:00, the turn is over, and
      all selected actions will be implemented for that turn.</p>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
      INTELL Points</a>
    </h2>
  </div>
  <div class="collapse5" class="panel-collapse collapse">
    <div class="panel-body">
      <p>The INTELL points are displayed in the upper right-hand corner of the
      screen. The number of INTELL points that a player starts the game with is
      determined by the scenario author, but all players in an instance will
      start with the same number of points. INTELL points are used to purchase
      actions throughout the game. Players must have the specified number of 
      INTELL points to purchase an action. Otherwise, the selected action will
      not be implemented at the end of the turn.</p>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
      Map</a>
    </h2>
  </div>
  <div class="collapse6" class="panel-collapse collapse">
    <div class="panel-body">
    <p></p>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
      Snippet Explorer</a>
    </h2>
  </div>
  <div class="collapse7" class="panel-collapse collapse">
    <div class="panel-body">
      <p>The snippet explorer is located in the bottom left-hand corner of the
      screen. This contains all of the snippets that have been released thus
      far in the game instance, organized by turn number. Clicking on the
      available turn number tabs will display the snippets that were given on
      the associated turn.</p>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
      Agents / Action Selection</a>
    </h2>
  </div>
  <div class="collapse8" class="panel-collapse collapse">
    <div class="panel-body">
      <p></p>
    </div>
  </div>
  </div>

</div>
